<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if page.url == "/" %}
    <title>{{ site.me.name }}</title>
  {% else %}
    <title>{{ page.title }} | {{ site.me.name }}</title>
  {% endif %}

  <link rel="stylesheet" href="/css/bamboo.css" />
</head>
<body>
  <div>
    <nav>
      <strong><a href="/">{{ site.me.name }}</a></strong>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href="/research">Research</a></li>
        <li><a href="/guides">Guides</a></li>
      </ul>
    </nav>
    <hr />
    {% if page.url != "/" %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    {{ content }}
  </div>
</body>
</html>
